<h2>This Week</h2>

</br></br>

<%= high_chart("avg", @avg_chart) %>
<%#= high_chart_globals(@chart_globals) %>

</br></br>

<%= high_chart("sum", @sum_chart) %>
<%#= high_chart("id_two", @test_pie) %>

</br></br>