<h3>Expenditures in the Last 7 Days</h3>

<h3>By Category</h3>

<h3>By Company</h3>

<h3>Average Transaction</h3>

<div id="container" style="height: 400px"></div>
<button id="button" class="autocompare">Add plot band</button>

<%#= high_chart_globals(@chart_globals) %>
<%= high_chart("some_id", @chart) %>

</br></br></br></br>

<%= high_chart("some_id", @test) %>

</br></br></br></br>

<%= @prices %>