<h2>This Week</h2>

</br></br>

<%= high_chart("avg_week", @avg_chart_week) %>
<%#= high_chart_globals(@chart_globals) %>

</br></br>

<%= high_chart("sum_week", @sum_chart_week) %>
<%#= high_chart("id_two", @test_pie) %>

</br></br>

<h2>This Month</h2>

</br></br>

<%= high_chart("avg_month", @avg_chart_month) %>
<%#= high_chart_globals(@chart_globals) %>

</br></br>

<%= high_chart("sum_month", @sum_chart_month) %>
<%#= high_chart("id_two", @test_pie) %>