<h1>Expenditures in the Last 7 Days</h1>

<%#= line_chart [
	{name: "Expenses", data: @receipts.group_by_day(:plain_date, range: 1.week.ago.midnight..Time.now).where(user: current_user).sum(:price)}
	], min: 0, max: 1500 %>